################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioRuns.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioRuns.dll.config
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioRuns.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioXRuns.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioXRuns.dll.config
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioXRuns.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/obj/Debug
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/obj/Release/TempPE
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/obj/Release
/UiPathWorkFlowAnalyzerRule/RuleTest
/UiPathWorkFlowAnalyzerRule/packages
/UiPathWorkFlowAnalyzerRule/.vs/UiPathWorkFlowAnalyzerRule/v16
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Studio.Api.Base.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Studio.Api.Base.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Studio.Api.Base.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Studio.Activities.Api.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Studio.Activities.Api.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Studio.Activities.Api.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Robot.Activities.Api.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Robot.Activities.Api.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Robot.Activities.Api.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Api.Base.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Api.Base.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Api.Base.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Activities.Api.Base.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Activities.Api.Base.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/UiPath.Activities.Api.Base.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.ValueTuple.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.ValueTuple.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Threading.Tasks.Extensions.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Threading.Tasks.Extensions.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Text.Json.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Text.Json.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Text.Encodings.Web.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Text.Encodings.Web.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Runtime.CompilerServices.Unsafe.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Runtime.CompilerServices.Unsafe.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Numerics.Vectors.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Numerics.Vectors.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Memory.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Memory.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Buffers.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/System.Buffers.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/CheckConsecutiveStudioRuns.pdb
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/CheckConsecutiveStudioRuns.dll.config
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/x64/Debug/CheckConsecutiveStudioRuns.dll
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/obj/x64/Debug/TempPE
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/obj/x64/Debug
*.nupkg
/UiPathWorkFlowAnalyzerRule/.vs/UiPathWorkFlowAnalyzerRule/DesignTimeBuild
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns5.0/bin/Release/net5.0-windows
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns5.0/bin/Debug/net5.0-windows
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns5.0/obj/Debug/net5.0
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns5.0/obj/Debug/net5.0-windows/ref
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns5.0/obj/Release/net5.0-windows
/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns5.0/obj
