################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UiPathWorkFlowAnalyzerRule/CheckConsecutiveStudioRuns/bin/Debug/CheckConsecutiveStudioRuns.dll
